* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;

}

.side-banner {
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 85px;

}


h1 {
    font-size: 45px;
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 10px;
}

.orange-color {
    color: orange;
}

.flex-container {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
}

.half-width {
    width: 50%;
    padding-left: 10%;

}

.half-width-img {
    width: 50%;
}

.half-width-img img {
    width: 100%;

}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(to right, #F09400, #FC5B00);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.half-width-1 {
    width: 50%;
    text-align: justify;
}

.half-width-1 img {
    width: 100%;
}

.resume-btn {
    text-decoration: none;
    background-image: linear-gradient(to right, #F09400, #FC5B00);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
}

.dream-big {
    padding: 20px;
    margin-top: 250px;
}

.experiance-box {
    width: 50%;
    padding: 20px;
    margin: 0px 100px;
    text-align: justify;
    box-shadow: 5px 10px 30px rgb(110, 109, 109);

    border-left: 5px solid;

    border-image: linear-gradient(to bottom, red, orange);
    border-image-slice: 1;

}

footer p {
    text-align: center;
    padding: 20px;
}